/* About.css */





/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .parallax-content {
    font-size: 18px; /* Adjust the font size for mobile screens */
  }
}

.center-div {
  background-color: rgba(0, 0, 0, 0.6); /* Using rgba to set opacity */
  height: 500px;
  width: 500px;
  border-radius: 30px;
  z-index: 0;
} 

.carousel-content {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  z-index: 2;
  color: white;
  opacity: 1; /* Set opacity of the text content to 1 */
}

@keyframes parallaxAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10%);
  }
}

/* Rest of your existing styles */
/* ... */
