.light-saber2 {
    width: 100px; /* Default width for larger screens */
    height: 6px;
    background-color: #6BC6FF; /* Light blue color */
    margin: 15px 00px 30px 230px;
  }

  @media (max-width: 768px) {
    .light-saber2 {
      width: 50%; /* Adjust width for mobile screens */
      margin: 20px 110px; /* Center the light saber line */
    }
}


.bg-transparent {
  background-color: transparent; /* Set the background color to transparent */
}