@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100%;
  /* margin-bottom: 50px; */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* Apply custom styles to the entire application's scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust as needed for the desired slim appearance */
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

::-webkit-scrollbar-thumb {
  background-color: #000; /* Black color for the thumb */
  border-radius: 4px; /* Apply a slight curve */
}

/* Firefox scrollbar styles */
/* Note that Firefox does not support customizing scrollbar width */
* {
  scrollbar-width: thin;
  scrollbar-color: #000 transparent;
}

/* Apply similar styles to the global scrollbar in Edge/IE */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

/* Hide horizontal scrollbar in all browsers */
::-webkit-scrollbar-thumb:horizontal {
  display: none;
}

/* Hide horizontal scrollbar in Firefox */
*::-webkit-scrollbar-thumb:horizontal {
  display: none;
}
